<div class="card" style="background: #F9F7F6;">

  <div class="card-body p-5">
    <div class="mb-5">
      <h4 class="card-title">Lorem Ipsum</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Convallis a cras semper auctor.</p>
        <div class="d-flex flex-wrap">
          <span class="social me-2"><img src="assets/instagram.svg" alt=""><a class="ms-2">@loremipsum</a></span>
          <span class="social"><img src="assets/facebook.svg" alt=""><a class="ms-2">facebook.com/loremipsum</a></span>
        </div>

    </div>

    <div class="mb-3">
      <span class="topic">TOPIC</span>
      <h4 class="card-title mt-2">Lorem Ipsum is simply dummy</h4>
      <p class="card-text">Lorem Ipsum is simply dummy</p>
      <div class="d-flex form">
        <input type="email" placeholder="E-mail">
        <button class="py-2" style="padding: 15px;" type="button">Button</button>
      </div>
    </div>

  </div>
</div>



<!--
<div class="container">


          <div class="p-lg-5">
              <p class="lorem mt-4"></p>
              <p class="para">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Convallis a cras semper auctor.
              </p>
              <span id="insta"><img src="../../../assets/instagram.svg" alt=""><a>@loremipsum</a></span>
              <span id="facebook"><img src="../../../assets/facebook.svg" alt=""><a>facebook.com/loremipsum</a></span>

              <div>
                  <p id="topic">Topic</p>
              </div>
              <p class="lorem">Lorem Ipsum is simply dummy</p>
              <br>
              <small class="para">Lorem Ipsum is simply dummy</small>
              <br>
              <div class="d-block">
                  <input type="email" class="form-control" placeholder="E-mail">
                  <div class="m-1">
                      <button class="btn btn-primary px-4" type="button">Button</button>
                  </div>
              </div>
          </div>
      </div> -->
