

<div class="header container">
    <div class=" header-options d-flex ">
        <button class="btn-icon m-2">
            <img src="assets/svg-icons/cart.svg" alt="">
        </button>
        <button class="btn-icon m-2">
    
            <img src="assets/svg-icons/search.svg" alt="">
    
        </button>
        <button class="btn-icon m-2">
            <img src="assets/svg-icons/globe.svg" alt="">
    
        </button>
        <img  class="m-2" src="assets/svg-icons/vertical-line.svg" alt="">
        <img class="m-2" src="assets/svg-icons/user.svg" alt="">
    
    </div>

    <div class=" d-flex menus">
                <span>Menu 1</span>
                <span>Menu 2</span>
                <span>Menu 3</span>
                <span>Menu 4</span>
                <span>Menu 5</span>
                <span>Menu 6</span>
                <span class="active">Menu 7</span>
                <span>Menu 8</span>
    </div>


</div>
