<div class="card mb-3 border-0 border-start border-end p-2">
  <img  class="card-img-top" src="assets/images/nature.png" alt="Card image">
  <div class="d-flex flex-wrap mt-3 mb-1 align-items-center">
    <div>
      <img src="assets/images/profileImage.png" alt="profile" />
      <span class="ms-2">Lurch Schpellchek</span>
  </div>
    <span class="text-muted event-details ms-2"><span><img src="assets/svg-icons/calendar.svg"></span> August 06.</span>
    <span class="text-muted event-details ms-2"><span><img src="assets/svg-icons/time.svg"></span> 8 min</span>
    <span class="event-name ms-2">EVENT</span>
</div>
  <div class="card-body p-1 mt-1 mb-2">
    <h3 class="card-title">Pellentesque orci velit odio port titor donec pellentesque justo in
      viverra mauris arcu.</h3>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Sed nulla blandit turpis commodo adipiscing mauris
       ultricies augue. Velit mattis mauris quisque id risus nec laoreet.</p>
  </div>

  <div class="footer d-flex flex-wrap mb-3">
    <span class="footer-item p-2">finibus molestie justo</span>
    <span class="footer-item p-2 ms-2">malesuada</span>
    <span class="footer-item p-2 ms-2">ornare vestibulum ipsum</span>
  </div>

    <img src="assets/images/Champagne_banner.png" alt="image" />
</div>
