.event-name {
  padding: 5px 20px;
  border-radius: 15px;
  background: #FDF5F3;
  color: #E0714E;
  font-size: 12px;
}

.event-details{
  font-size: 12px;
  font-weight: 400;
}

.card-title{
  font-weight: 700;
}

.card{
  border: 1px 0px 0px 0px ;

  .card-header{
    background: none;
  }

}

