  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-11 col-lg-4 mt-2 mb-3">
            <p>2022 Lorem ipsum. Lorem Ipsum is simply dummy.</p>
              <span><img src="assets/instagram.svg" alt=""></span>
              &nbsp;
              <span><img src="assets/facebook.svg" alt=""></span>

          </div>
          <div class="col-11 col-lg-4">
              <h5>Lorem Ipsum is simply dummy</h5>
              <p>Lorem Ipsum is simply dummy</p>
          </div>
          <div class="col-11 col-lg-4">
            <div class="d-flex form">
                <input type="email" placeholder="E-mail">
                <button class="px-5 py-2"  type="button">Button</button>
              </div>
          </div>
      </div>

      <hr style="width: 100%; color: #ccc2c2;">

      <div class="container">
        <div class="d-flex menus justify-content-between">
                  <span>Menu 1</span>
                  <span>Menu 2</span>
                  <span>Menu 3</span>
                  <span>Menu 4</span>
                  <span>Menu 5</span>
                  <span>Menu 6</span>
                  <span>Menu 7</span>
                  <span>Menu 8</span>
          </div>
        </div>

      <hr style="width: 100%; color: #ccc2c2;">


      <div class="row text-lg-start text-center justify-content-lg-start justify-content-center">
          <div class="col-11 col-lg-3">
              <h5>CONTACT</h5>
              <p>loremipsum@loremipsum.com</p>
              <p>+461022147</p>
              <p>Daytona Beach, FL 32114</p>
          </div>
          <div class="col-11 col-lg-3">
              <h5>QUICK LINKS</h5>
              <p>Lorem Ipsum 1</p>
              <p>Lorem Ipsum 2</p>
          </div>
          <div class="col-11 col-lg-3">
              <h5>HELPFUL LINKS</h5>
              <p>Community</p>
          </div>
          <div class="col-11 col-lg-3">
              <h5>BUSINESS</h5>
              <img src="assets/payemntMethodCards.svg" alt="">
          </div>

      <hr style="width: 100%; color: #ccc2c2;">

          <div class="col-11 col-md-4 col-lg-3">
              <h5>CARDS</h5>
              <img src="assets/payemntMethodCards.svg" alt="">

          </div>
          <div class="col-11 col-md-4 col-lg-3">
              <h5>CARDS</h5>
              <img src="assets/payemntMethodCards.svg" alt="">
          </div>
      </div>
  </div>
