<div class="container py-4">
  <div class="py-5">
    <div class="d-flex color">
      <span><img [src]="data.icon" alt="icon"></span>
      <h5 class="card-title p-1">{{data.type}}</h5>
    </div>
    <div class="d-flex justify-content-between align-text-baseline">
      <h3 class="card-title">Lorem ipsum</h3>
      <p class="color">All<img src="assets/right arrow.svg" alt=""></p>
    </div>
    <div>
      <app-cards [cardData]="cardData"></app-cards>
    </div>
  </div>
</div>
