<div class="container" style="background: rgb(255 255 255);">
  <div class="d-flex justify-content-center p-3 text-center overflow-auto" style="flex-wrap: wrap;">
    <a class="m-2 p-2">
      <span><img src="assets/wine.svg" alt=""></span><span>Menu 1</span>
    </a>
    <a class="m-2 p-2">
      <span><img src="assets/product-cards/travel.svg" alt=""></span><span>Menu 2</span>
    </a>
    <a class="m-2 p-2">
      <span><img src="assets/product-cards/gastro.svg" alt=""></span><span>Menu 3</span>
    </a>
    <a class="m-2 p-2">
      <span><img src="assets/product-cards/event.svg" alt=""></span><span>Menu 4</span>
    </a>
    <a class="m-2 p-2">
      <span>Dropdown</span><span><img src="assets/dropdown.jpg" alt=""></span>
    </a>
  </div>
</div>
